[multichannel_sdk_config]
heartbeat_interval = 1000
heartbeat_thread_pool_size = 5
config_reload_interval = 1
api_retry_count = 3
endpoint_names = endpoint1,endpoint2,endpoint3
endpoint_weights = 1,3,2

[verification_config]
ak = testAk
sk = testSk
sts_token = testStsToken
ignore_ssl_verification = 
ca_certificate_path = ca.crt
project_id = testProjectId

[union_sdk_config]
region_id = test_region_id
connection_timeout = 1000
read_timeout = 2000
proxy_protocol = http
proxy_host = testHost
proxy_port = 80
proxy_user = testUser
proxy_password = testPassword
file_log_path = testLogFile
file_log_level = INFO

